@using QEQ.Models
@model Usuario
@{
    ViewBag.Title = "QUIEN ES QUIEN | Iniciar Sesión ";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="~/Content/estilo.css" />
<h1>Iniciar Sesión</h1>
<article>
    @using (Html.BeginForm("VerificarLogin", "Home", FormMethod.Post))
    {
    <center>
        <p>Usuario: @Html.TextBoxFor(x => x.NombreUsuario) </p> <p class="validacion">@Html.ValidationMessageFor(x => x.NombreUsuario)</p><br />
        <p>Contraseña: @Html.TextBoxFor((x => x.Password), new { type = "password" })</p> <p class="validacion">@Html.ValidationMessageFor(x => x.Password)</p><br />
        <input class="button" type="submit" value="Ingresar">
    </center>
       
        @ViewBag.Advertencia
    }
</article>

